html, head { background-color: #C0FFC0; }

header a  {
    color: yellow;
   }
a {
    color: red;
   }
h2 {
    color: brown;
   }
article { 
    color: green; 
   }
p { 
    font-family: cursive; 
  }
.navigation { 
    color: blue; 
   }

#premier { 
    color: purple; 
   }

.navigation a { 
    color: grey; 
   }

#premier a { 
    color: purple; 
   }
