html, head { background-color: #C0FFC0; }

html, a:link {
    text-decoration:none; 
   }

header a  {
    color: yellow;
   }

a {
    color: red;
   }

h2 {
    color: brown;
   }

article { 
    color: green; 
   }

p { 
    font-family: cursive; 
  }

.navigation { 
    color: blue; 
   }

.vert { 
    color: green; 
   }

#premier { 
    color: purple; 
   }


#second { 
    color: white; 
   }

.navigation a { 
    color: grey; 
   }

