/* ------------------- CSS generaux */
html, head { background-color: #C0FFC0; }

html, a:link {
    text-decoration:none; 
   }

a {
    color: red;
   }

h2 {
    color: brown;
   }

article { 
    color: green; 
   }

article h2 { 
    color: black; 
    font-family: Arial, sans-serif;
    margin: 0px 0px 40px 0px;
   }

article img { 
    position: relative;
    top: 80px; right: 0px;
    width: 30%;
   }


p { 
    font-family: cursive; 
  }

section { 
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

footer, header {
    padding: 20px;
    background-color: black;
   }

header a, footer a, footer p {
    color: white !important;
   }

nav {
    /* width: 500px; */
    width: 25%;
    background-color: grey;
    position: fixed;
    right: 0px;
   }
/* ------------------- CSS class */
.navigation { 
    color: red; 
   }

.vert { 
    color: green; 
   }

.navigation a { 
    color: grey; 
   }
.no_bullet {
    list-style-type: none;
    }
/* ------------------- CSS Id */
#premier { 
    color: purple; 
   }

#second { 
    color: white; 
   }
#eg20  {
    margin: 0px 0px 0px 20px;
    }

#eg30  {
    margin: 0px 0px 0px 30px;
    }

/* CSS ------------------- autres */
header a  {
    color: white;
   }

footer p  {
    font-size: 12px;
   }

article img  {
    margin: 20px 0px 0px 0px;
    }

